header{
    width: 100%;
    padding: 8px 8%;
    position: sticky;
    top: 0;
    background-color: black;
}

#navbar {
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 45px
}

.nav-logo {
      width: 150px;      /* ajusta o tamanho */
  height: auto;      /* mantém a proporção */
}
.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.nav-item a:hover {
    color: #efc200;
    border-bottom: 3px solid #efc200;
}

.nav-item.active a {
    border-bottom: 3px solid #efc200;
}


#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

.dropdown-btn i {
    font-size: 12px;
    color: #f8c200;
}
.dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}
@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.6rem;
        cursor: pointer;
        color: white;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;

    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}


    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }

 .dropdown-menu {
    list-style: none;
    padding-left: 0;
    background-color: black;
    color: white;
    border: solid 1px white;
}

#mobile_menu li {
    list-style: none;
}



/* DESKTOP: submenu oculto */
@media screen and (min-width: 1171px) {

    .nav-item {
        position: relative;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: black;
        padding: 10px 0;
        min-width: 180px;
        z-index: 1000;
    }

    .dropdown-menu li {
        padding: 8px 20px;
        text-align: left;
    }

    .dropdown-menu li a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        white-space: nowrap;
    }

    .dropdown-menu li a:hover {
        color: #f8c200;
    }

    /* HOVER ABRE */
    .nav-item:hover > .dropdown-menu {
        display: block;
    }

    /* SETINHA DESKTOP */
    .dropdown-btn {
        pointer-events: none; /* desativa clique */
    }

    .dropdown-btn i {
        margin-left: 5px;
        font-size: 10px;
    }
}